<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Composants</title>
  <script src="node_modules/vue/dist/vue.js"></script>
</head>
<body>
  
  <section id="app">
    <ol>
      <!-- On appelle le composant "list-item" -->
      <list-item
      v-for="item in fruits"
      v-bind:item="item">
      </list-item>
    </ol>
    <!-- On va rechercher la propriété content et on l'affiche sous forme de html-->
    <p v-html="content"></p>
  </section>

  <section id="app2">
    <ol>
      <!-- On appelle le composant "list-item" -->
      <list-item
      v-for="item in legumes"
      v-bind:item="item">
      </list-item>
    </ol>
  </section>

  <script src="script/composants.js"></script>
</body>
</html>