* {
  box-sizing : border-box;
}

body {
  font-family : arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width : 80%;
  margin : 20px auto 0 auto;
}

#listing {
  display : flex;
  align-items : flex-start;
}

.wrap {
  width : 65%;
}


#single {
  width : 80%;
  background : #ECECEC;
  padding : 20px;
  border-radius : 20px;
  margin-bottom : 40px;

  h1 {
    color : lightgrey;
    margin : 10px 0 ;
  }

  .ddn, dl div {
    background : white;
    padding : 10px;
    margin-bottom : 10px;
    border-radius : 4px;
  }
}


#list {
  width : 35%;

  ul {
    list-style : none;
  }

  li {
    margin-bottom : 20px;
    padding: 0px 0px 8px 10px;
    border-bottom : 1px solid lightgrey;
  }

  a {
    color : #6C7A89;
    text-decoration : none;

    &:hover {
      color : #D2D7D3;
    }
  }
}

.form-btn {
  text-decoration : none;
  padding : 10px;
  background : lightgrey;
  color : dimgrey;
  border-radius : 8px;
}

/* FORM */

form {
  width : 80%;
  background : lightgrey;
  max-width : 400px;
  padding : 20px;
  margin: 20px 0 40px 0;
  border-radius : 10px;
}

form>input {
  width : 100%;
  line-height : 25px;
  margin-bottom : 15px;
  border-radius : 5px;
  border : none;
}

form>label {
  display : block;
}
fieldset {
  margin-bottom : 10px;
  div {
    display : inline-block;
    width : calc(50% - 24px;
  }
}

button {
  background : dimgrey;
  border: none;
  box-shadow : 0px 4px 0px #444;
  color : white;
  font-size : 1rem;
  padding : 10px 15px;
}


/* TRANSITION AVEC VUE */
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}